<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://descriptiongeneration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a7bcea12-fb7f-4ec0-9fc4-3b9167bb65d9/resourceGroups/descriptiongeneration_group/providers/Microsoft.Web/sites/descriptiongeneration</ResourceId>
    <UserName>$descriptiongeneration</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://descriptiongeneration.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>